<!DOCTYPE html>
<html>
    <head>
        <title>Meal Log</title>
    </head>
    <body>
        <!--
        <h1>Meal Log</h1>
        <dl>
            <dt>Breakfast</dt>
            <ul>
                <li>Cereal</li>
            </ul>
            <dt>Lunch</dt>
            <ul>
                <li>Rice</li>
            </ul>
            <dt>Dinner</dt>
            <ul>
                <li>Chicken</li>
            </ul>
            <dt>Snack</dt>
            <ul>
                <li>Chocolate</li>
            </ul>
        </dl>
    -->
        <h1>Meal Log</h1>
        <table id = "breakfast_table">
            <tr>
                <th>Breakfast</th>
                <th>Calories</th>
            </tr>
            <tr>
                <td>Chicken Nuggets</td>
                <td>$0.50</td>
            </tr>
            <tr>
                <td>Pizza</td>
                <td>$0.75</td>
            </tr>
        </table>

        <table id = "lunch_table">
            <tr>
                <th>Lunch</th>
                <th>Calories</th>
            </tr>
            <tr>
                <td>Chicken Nuggets</td>
                <td>$0.50</td>
            </tr>
            <tr>
                <td>Pizza</td>
                <td>$0.75</td>
            </tr>
        </table>

        <table id = "dinner_table">
            <tr>
                <th>Dinner</th>
                <th>Calories</th>
            </tr>
            <tr>
                <td>Chicken Nuggets</td>
                <td>$0.50</td>
            </tr>
            <tr>
                <td>Pizza</td>
                <td>$0.75</td>
            </tr>
        </table>

        <table id = "snack_table">
            <tr>
                <th>Snack</th>
                <th>Calories</th>
            </tr>
            <tr>
                <td>Chicken Nuggets</td>
                <td>$0.50</td>
            </tr>
            <tr>
                <td>Pizza</td>
                <td>$0.75</td>
            </tr>
        </table>
    </body>
</html>